@model EntityLayer.Concrete.Category
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddCategory</title>
</head>
<body>
    <div>
        @using (Html.BeginForm("AddCategory", "Category", FormMethod.Post))
        {
        <div class="form-group">
            @Html.Label("Kategori Adı:")
            @Html.TextBoxFor(x => x.CategoryName)
            @Html.ValidationMessageFor(x => x.CategoryName)
            <br />
            @Html.Label("Kategori Açıklama:")
            @Html.TextBoxFor(x => x.CategoryDescription)
            @Html.ValidationMessageFor(x => x.CategoryDescription)
            <br />
            <button>Kaydet</button>
        </div>
        }
    </div>
</body>
</html>
