@model EntityLayer.Concrete.Category
@{
    ViewBag.Title = "AddCategory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddCategory</title>
</head>
<body>
    <div>
        @using (Html.BeginForm("AddCategory", "Category", FormMethod.Post))
        {
            <div class="form-group">
                @Html.Label("Kategori Adı:")
                @Html.TextBoxFor(x => x.CategoryName, new {@class = "form-control"})
                @Html.ValidationMessageFor(x => x.CategoryName)
                <br />
                @Html.Label("Kategori Açıklama:")
                @Html.TextAreaFor(x => x.CategoryDescription, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.CategoryDescription)
                <br />
                <button>Kaydet</button>
            </div>
        }
    </div>
</body>
</html>

